{{define "title"}}Articles{{end}}

{{define "main"}}
      <h1 class="articleheader">Recent Articles</h1>
    {{if .Posts}}
        <table class="posts">
            {{range .Posts}}
                <tr>
                    <td class="articlefeed"><a href='/articles/{{.ID}}'>{{.Title}}</a></td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>No Posts found</p>
    {{end}}

{{end}}