# fly.toml app configuration file generated for mhumble-io on 2024-07-31T19:44:51-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mhumble-io'
primary_region = 'dfw'

[build]
  [build.args]
    GO_VERSION = '1.22.5'

[env]
  PORT = '443'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
