app = 'mhumble-io'
primary_region = 'dfw'

[registry]
"ghcr.io" = { username = "marshallhumble", password_env = "REGISTRY_PASSWORD" }

[deploy]
strategy = "rolling"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 0

[http_service.concurrency]
type = "connections"
hard_limit = 25
soft_limit = 20

[checks]
[checks.health]
port = 3000
type = "http"
interval = "15s"
timeout = "10s"
path = "/health"

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 1