# fly.toml app configuration file generated for mhumble-io on 2024-08-13T16:46:22-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mhumble-io'
primary_region = 'dfw'

[build]

[deploy]
  strategy = "rolling"

[http_service]
  internal_port = 4443
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  [http_service.concurrency]
    type = "requests"
    soft_limit = 200
    hard_limit = 250
  [http_service.http_options.response]
    pristine = true
  [http_service.tls_options]
    alpn = ["h2", "http/1.1"]
    versions = ["TLSv1.2", "TLSv1.3"]
    default_self_signed = false

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
