# fly.toml app configuration file generated for mhumble-io on 2024-08-13T16:46:22-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mhumble-io'
primary_region = 'dfw'

[build]

[deploy]
  strategy = "rolling"

[[services]]
  internal_port = 4443
  protocol = "tcp"
[[services.ports]]
  handlers = ["tls"]
  port = "443"
  force_https = true

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
