{{define "nav"}}
    <nav>
        <div class="name">
            <h1><a href='/'>Marshall Humble</a></h1>
        </div>
        <div class='nav'>
            <a href='/'>Home</a>
            <a href='/articles/'>Articles</a>
            <a href='/about/'>About</a>
        </div>
    </nav>
{{end}}