{{define "nav"}}
    <nav>
        <div class="name">
            <h1><a href='/'>Marshall Humble</a></h1>
        </div>
        <div class='nav'>
            <i class="fa-solid fa-house"><a href='/'>Home</a></i>
            <i class="fa-solid fa-pen-to-square"><a href='/articles/'>Articles</a></i>
            <i class="fa-regular fa-address-card"><a href='/about/'>About</a></i>
        </div>
    </nav>
{{end}}