{{define "nav"}}
    <nav class="navbar">
        <ul>
            <li><h1><a href='/'>Marshall Humble</a></h1></li>
            <li><a href='/'><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href='/articles/'><i class="fa-solid fa-pen-to-square"></i>Articles</a></li>
            <li><a href='/about/'><i class="fa-regular fa-address-card"></i>About</a></li>
        </ul>
    </nav>
{{end}}