* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Proxima Nova", monospace;
}

:root {
    --color-blue: #014c70;
    --color-blue-dark: #002b3c;
    --color-black: #333333;
    --color-cloud-light: #FAFAFA;
    --color-cloud: #F7F7F7;
    --color-cloud-dark: #f1f1f1;
    --color-orange: orange;
    --color-white: #FFFFFF;
    --color-grey: #B0B0B0;
    --color-red: #A82255;
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 1rem;
    --size-md: 1.5rem;
    --size-lg: 2rem;
    --size-xl: 3rem;
    --size-xxl: 4rem;
    --size-xxxl: 6rem;
    --breakpoint-small-desktop: 1260px;
}

header, nav, main, footer {
    padding: 2px calc((100% - 800px) / 2) 0;
}

a {
    text-decoration: none;
}

/* === NAV === */

nav {
    border-bottom: 1px none #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #ffffff;
    height: 60px;
    color: #e1e5ec;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    opacity: .9;
}

nav a {
    margin-right: 1.5em;
    display: inline-block;
    padding: 1px;
}

nav div {
    width: 50%;
    float: left;
}


nav div:last-child {
    text-align: right;
}

/* === BODY === */

main {
    margin-top: 54px;
    margin-bottom: 54px;
    min-height: calc(100vh - 345px);
    overflow: auto;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #ffffff;
    color: #2e2e2e;
    overflow-y: scroll;
}

.h1para {
    font-size: var(--size-lg);
}

.hpara {
    text-align: left;
    tab-size: var(--size-md);
    font-size: var(--size-md);
}




/* === ARTICLE LIST === */

ol.articlefeed {
    list-style-type: none;
}

ol.articlefeed li+li {
    margin-top: var(--size-sm);
}

ol.articlefeed li {
    padding-bottom: 6px;
}

ol.articlefeed time,
ol.articlefeed span.difficulty {
    color: var(--color-grey);
    font-size: var(--size-sm);
}

ol.articlefeed li {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    ol.articles li {
        display: flex;
        flex-direction: column;
    }
}

ol.articlefeed+h2 {
    margin-top: var(--size-md);
}

/* === FOOTER === */

footer {
    border-top: solid 1px var(--color-cloud);
    color: var(--color-grey);
    font-size: 0.78rem;
    padding: var(--size-lg) 2em;
}

footer .constrain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    margin-right: 1.5em;
    display: inline-block;
    padding: 0;
}

/* sticky footer */
footer {
    position: sticky;
    top: 150vh;
}
/* end sticky footer */

.licenses {
    font-size: var(--size-xxs);
    float: right;
}

