* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Proxima Nova", monospace;
}

:root {
    --color-blue: #014c70;
    --color-blue-dark: #002b3c;
    --color-black: #333333;
    --color-dark-grey: #6a6a6a;
    --color-cloud-light: #FAFAFA;
    --color-cloud: #F7F7F7;
    --color-cloud-dark: #f1f1f1;
    --color-orange: orange;
    --color-white: #FFFFFF;
    --color-grey: #B0B0B0;
    --color-red: #A82255;
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 1rem;
    --size-md: 1.5rem;
    --size-lg: 2rem;
    --size-xl: 3rem;
    --size-xxl: 4rem;
    --size-xxxl: 6rem;
    --breakpoint-small-desktop: 1260px;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

body {
    line-height: 1.5;
    background-color: var(--color-cloud-dark);
    color: var(--color-black);
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* === NAV === */

.navbar ul {
    list-style-type: none;
    background-color: var(--color-grey);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a:hover {
    background-color: var(--color-dark-grey);
}

.navbar a{
    color: var(--color-cloud);
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li{
    float: left;
}

i {
    margin-right: 0.25rem;
}

/* === BODY === */

main {
    margin-top: 54px;
    margin-bottom: 54px;
    min-height: calc(100vh - 345px);
    overflow: auto;
    padding: 7rem;
}

html, body {
    height: 100%;
}


.h1para {
    font-size: var(--size-lg);
}

.hpara {
    text-align: left;
    tab-size: var(--size-md);
    font-size: var(--size-md);
}




/* === ARTICLE LIST === */

ol.articlefeed {
    padding: 3px;
    list-style-type: none;
}

ol.articlefeed li+li {
    margin-top: var(--size-sm);
}

ol.articlefeed li {
    padding-bottom: 6px;
}

ol.articlefeed time,
ol.articlefeed span.difficulty {
    color: var(--color-grey);
    font-size: var(--size-sm);
}

ol.articlefeed li {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    ol.articles li {
        display: flex;
        flex-direction: column;
    }
}

ol.articlefeed+h2 {
    margin-top: var(--size-md);
}

/* === FOOTER === */

footer {
    border-top: solid 1px var(--color-cloud);
    background-color: var(--color-grey);
    font-size: 0.78rem;
    padding: var(--size-lg) 2em;
}

footer .constrain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    margin-right: 1.5em;
    display: inline-block;
    padding: 0;
}

footer i {
    color: var(--color-cloud);
}

/* sticky footer */
footer {
    position: sticky;
    top: 175vh;
}
/* end sticky footer */

.licenses {
    font-size: var(--size-xxs);
    float: right;
    color: var(--color-cloud);
}

