* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Proxima Nova", monospace;
}

:root {
    --color-blue: #014c70;
    --color-blue-dark: #002b3c;
    --color-black: #333333;
    --color-cloud-light: #FAFAFA;
    --color-cloud: #F7F7F7;
    --color-cloud-dark: #f1f1f1;
    --color-orange: orange;
    --color-white: #FFFFFF;
    --color-grey: #B0B0B0;
    --color-red: #A82255;
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 1rem;
    --size-md: 1.5rem;
    --size-lg: 2rem;
    --size-xl: 3rem;
    --size-xxl: 4rem;
    --size-xxxl: 6rem;
    --breakpoint-small-desktop: 1260px;
}

header, nav, main, footer {
    padding: 2px calc((100% - 800px) / 2) 0;
}

/* === NAV === */
.topnav {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: left;
    flex-direction: inherit;
    border-bottom: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #F7F9FA;
    height: 60px;
    color: #6A6C6F;
}



/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
    font-size: 12px;
}


nav {
    border-bottom: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #ffffff;
    height: 60px;
    color: #e1e5ec;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    opacity: .9;
}

nav a {
    margin-right: 1.5em;
    display: inline-block;
    padding: 0;
}

nav form {
    display: inline-block;
    margin-left: 1.5em;
}

nav div {
    width: 50%;
    float: left;
}

nav div:last-child {
    text-align: right;
}

nav div:last-child a {
    margin-left: 1.5em;
    margin-right: 0;
}

nav a.live {
    color: #34495E;
    cursor: default;
}

nav a.live:hover {
    text-decoration: none;
}

nav a.live:after {
    content: '';
    display: block;
    position: relative;
    left: calc(50% - 7px);
    top: 9px;
    width: 14px;
    height: 14px;
    background: #F7F9FA;
    border-left: 1px solid #E4E5E7;
    border-bottom: 1px solid #E4E5E7;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
}

/* === BODY === */

main {
    margin-top: 54px;
    margin-bottom: 54px;
    min-height: calc(100vh - 345px);
    overflow: auto;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #ffffff;
    color: #2e2e2e;
    overflow-y: scroll;
}

.h1para {
    font-size: var(--size-lg);
}

.hpara {
    text-align: left;
    tab-size: var(--size-md);
    font-size: var(--size-md);
}

.articlefeed {
    font-size: var(--size-xl);
}

.articleheader {
    font-size: var(--size-lg);
}

/* === FOOTER === */

footer {
    border-top: solid 1px var(--color-cloud);
    color: var(--color-grey);
    font-size: 0.78rem;
    padding: var(--size-lg) 2em;
}

footer .constrain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* sticky footer */
footer {
    position: sticky;
    top: 150vh;
}
/* end sticky footer */
