name: Deploy to Fly.io

on:
  push:
    branches:
      - main  # or your default branch
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy app to Fly.io
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAR }}

      - name: Pull image
        run: docker pull ghcr.io/${{ github.actor }}/${{ vars.REPO_NAME }}:latest

      - name: Set up Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@v1

      - name: Deploy to Fly
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

        run: |
          flyctl deploy --local-only --image ghcr.io/${{ github.repository_owner }}/${{ github.ref_name }}:latest
